﻿hrml, body {
    width: 100%;
    height: 100%;
}

.card{
    margin: 2px;
    float: left;
}

.status {
    float: right;
    padding: 3px 10px;
    border-radius: 3px;
}

.status[pending] {
    background-color: cornflowerblue;
}
.status[inprocess] {
    background-color: goldenrod;
}
.status[canceled] {
    background-color: red;
}
.status[completed] {
    background-color: lightgreen;
}
.status[delivered] {
    background-color: darkseagreen;
}

.card{
    width: 340px;
}

.products {
    width: calc(100% - 130px);
    float: left;
}

.action-next {
    float: right;
}

.btn > i {
    margin-right: 5px;
}

.action-cancel {
    position: absolute;
    right: 16px;
    bottom: 16px;
}

.list-group-item{
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
}

.card-body {
    min-height: 150px;
}

#btnAddOrder {
    position: absolute;
    right: 16px;
    bottom: 16px;
}
#btnAddOrder .btn {
    border-radius: 30px;
    padding: 15px;
}

#btnAddOrder .btn > i {
    margin: 0;
}

.processing > div {
    text-align: center;
    margin-top: 20%;
}
.processing {
    position: absolute;
    width: 100%;
    height: calc(100% - 1px);
    background-color: #cccccc87;
    z-index: 200;
    top: 1;
}